h1, h2, h3,
#company-selector {
    margin: 0;
    margin-bottom: 10px;
}

button,
input,
#portfolio-total-price > P {
    border: 1px solid #d6d6d6;
    background-color: white;
    border-radius: 4px;
}

.dashboard-container {
    display: grid;
    grid-template-rows: 45%
                        20px
                        auto;
    grid-template-columns:  35%  50px 10% 100px 15%  100px  auto;
    grid-template-areas:
        "portfolio  .  graph graph graph      graph      graph"
        ".          .   .      .   .            .            ."
        "news    news   news   .   request-form . request-list";
    padding: 20px;
}


/* PORTFOLIO */
.portfolio-container {
    grid-area: portfolio;
}

.portfolio-table {
    display: flex;
}

.portfolio-table thread > tr {
    background-color: #fafafa;
}

.portfolio-table th,
.portfolio-table td {
    border: 1px solid #d6d6d6;
    padding-right: 50px;
    box-sizing: inherit;
}

#portfolio-total-price > P {
    min-width: 40%;
    width: fit-content;
    padding: 5px;
}


/* GRAPH */
.graph-container {
    grid-area: graph;
}

#company-selector {
    text-align: center;
}

#graph-tabs > div {
    padding: 10px;
    border-radius: 4px 4px 0 0;
    /* The size of the graph is set by plotly.js and
       can only be set with fig.update_layout().
       (eg: Components/graph.py)
    */
}

#graph-tabs + .tab-content {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 20px;
}


/* NEWS */
.news-container {
    grid-area: news;
}

#news-table .dash-spreadsheet-container {
    height: 40vh;
}

#news-table .dash-cell,
#news-table .dash-header {
    padding: 2px 10px;
    max-width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.news-article {
    display: grid;
    grid-template-rows: 10%
                        auto;
    grid-template-columns:  10%  auto;
    grid-template-areas:
        "button  title"
        "text   text";
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    max-height: 40vh;
    overflow: auto;
}

.news-article > button {
    grid-area: button;
    height: 36px;
    padding: 5px;
    margin: 5px;
}

.news-article > h3 {
    grid-area: title;
    margin: auto;
    text-align: center;
}

.news-article > p {
    grid-area: text;
    padding: 20px;
    text-align: justify;
}


/* REQUESTS */
.request-form-container {
    grid-area: request-form;
    display: flex;
    flex-direction: column;
}

.request-list-container {
    grid-area: request-list;
}

.request-form-container > label {
    margin-top: 20px;
}

#request-err {
    color: red;
}

.request-form-container > button,
.request-list-container > button {
    padding : 5px 30px;
    margin : 20px auto;
}

#request-table .dash-spreadsheet-container {
    max-width: 20vw;
}

#request-table .dash-cell,
#request-table .dash-header {
    padding: 2px 10px;
}