.home-container {
    text-align: center;
    padding: 60px 0;
}


.home-container .switch-lang-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: left;
}


.home-container img {
    margin-top: 40px;
    border-radius: 30px;
    width: 500px;
}


.home-container .signature {
    margin: 40px 0 60px 0;
    font-size: 15px;
    font-style: italic;
}


.home-container > a {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.home-container > a:hover {
    background-color: #555555;
    color: white;
}

.home-container > a:active {
    background-color: #555555;
    box-shadow: 0 5px #666;
  }